//@import "~bootstrap/scss/bootstrap";
// Bootstrap Custom Variables here

@import "node_modules/bootstrap/scss/functions";
@import "assets/stylesheet/bootstrap_variables";
//@import "node_modules/bootstrap/scss/variables";

//@import "bootstrap-variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
//@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
//@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
//@import "node_modules/bootstrap/scss/card";
//@import "node_modules/bootstrap/scss/breadcrumb";
//@import "node_modules/bootstrap/scss/pagination";
//@import "node_modules/bootstrap/scss/badge";
//@import "node_modules/bootstrap/scss/jumbotron";
//@import "node_modules/bootstrap/scss/alert";
//@import "node_modules/bootstrap/scss/progress";
//@import "node_modules/bootstrap/scss/media";
//@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
//@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
//@import "node_modules/bootstrap/scss/popover";
//@import "node_modules/bootstrap/scss/carousel";
//@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
//@import "node_modules/bootstrap/scss/print";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');


$blue: #383fe5;
$pink: #fc67fa;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #383fe5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: "LeagueSpartan";
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/1leaguespartan-bold-webfont.woff2') format("woff2"), url('/fonts/1leaguespartan-bold-webfont.woff') format("woff");;
  font-display: swap;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}


h1 {
  font-family: "LeagueSpartan";
  font-size: 3rem;
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

h2 {
  font-family: "LeagueSpartan";
  font-size: 2rem;
  font-weight: 600;
  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75rem;
  text-decoration: underline;
  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  text-decoration: underline;
  @include media-breakpoint-down(sm) {
    font-size: 1.1rem;
  }
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.33rem;  
  margin-bottom: 2rem;
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

ul,ol {
  li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.33rem;  
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }
}

.nav-link {
  color:black;
  &.active {
    background: linear-gradient(210deg, $blue 0%, $pink 100%);
    color: white;
  }
}
//